* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.headerBar {
    display: flex;
    align-items: center;
    background-color: #d9d9d9;
    border-bottom: 1px solid #e5e5e5;
    height: 50px;
    padding: 12px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.contentBox {
    display: flex;
    height: 100vw;
    margin-top: 50px;
}

.savedBooks {
    display: flex;
    justify-content: center;
    width: 25%;
    margin-top: 20px;
}

.searchBooks {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid 1px;
    width: 75%;
    margin-top: 20px;
}

.savedBooks h2,
.searchBooks h2 {
    width: 100%;
    border: solid black 1px;
    padding: 20px 0px;
    text-align: center;
}